<div class="col-md-10">
  <h1>Tweet Feed</h1>
  {{#each}}
    <h3>{{#link-to 'date'}}{{text}}{{/link-to}}</h3>
        <div class="col-md-4">{{outlet}}</div>

  {{/each}}

  <h2>New Tweet</h2>
  <form>
    <div class="form-group">
      <label for="tweet">Tweet</label>
      {{input id="tweet" class="form-control" maxlength="141" value=newTweet}}
    </div>
    <button class="btn btn-primary" {{action 'createTweet'}}>Save</button>
  </form>
</div>
